.product__image {
  width: 200px;
}

.preview {
  position: absolute;
  width: 200px;
  height: 200px;
  overflow: hidden;
}

.preview_hidden {
  display: none;
}

.preview__data {
  position: absolute;
}